html {
  text-align: center;
  font-size: 16px;
  background-color: black;
  color: #f26fd4;
}

body {
  background-color: black;
}

.boxes {
  width: 8rem;
  height: 8rem;
  margin: .5rem;
  border: 3px solid #f26fd4;
}

.boxes:focus {
  outline: none;
}
.boxes {
  background-color: #43293d;
}
.boxes:hover {
  background-color: #6f3a62;
}
.boxes.active-x {
  background-image: url('images/pinkX.png');
  /*background-color: #f26fd4;*/
}
.boxes.active-o {
  background-image: url('images/pinkO.png');
  /*background-color: #f26fd4;*/
}

.reset {
  width: 24rem;
  height: 4rem;
  margin: 4rem;
  border: 3px solid #f26fd4;
  color: #f26fd4;
  font-size: 2rem;
}
.reset:focus {
  outline: none;
}
.reset {
  background-color: #43293d;
}
.reset:hover {
  background-color: #6f3a62;
}
.reset:active, .reset.active {
  background-color: #f26fd4;
}

.leftX {
  float: left;
  margin: 5rem 5rem 1rem 5rem;
  font-size: 3rem;
  border-bottom: 3px solid #f26fd4;
}
.rightO {
  float: right;
  margin: 5rem 5rem 1rem 5rem;
  font-size: 3rem;
  border-bottom: 3px solid #f26fd4;
}
